@import 'tailwindcss';

/* fonts */
@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-pretendard: 'Pretendard', sans-serif;

  --color-primary: #5189fa;
  --color-primary-hover: #416ec8;
  --color-primary-pressed: #3b63b5;
  --color-primary-disabled: #f1f5f9;
  --color-border: #e2e8f0;
}

@layer base {
  * {
    @apply text-inherit outline-none;
  }

  body {
    @apply font-pretendard bg-white text-gray-900;
  }

  button {
    @apply cursor-pointer;
  }

  path {
    vector-effect: non-scaling-stroke;
  }
}
